<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin Login</title>
  <!--<link rel="stylesheet" href="static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">-->
  <!--<link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">-->
  <!--<link rel="stylesheet" href="static/vendors/css/vendor.bundle.addons.css">-->
  <link rel="stylesheet" href="static/css/admin.css">
  <link rel="shortcut icon" href="static/images/logo1.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one
      " style='background-image:url(static/images/4.jpg)'>
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
              <form method="post">
                <div class="form-group">
                  <label class="label">Username</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username" name="adminname">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="*********" name="adminpass">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block" type="submit">Login</button>
                </div>

                <div class="form-group">
                  <!--<button class="btn btn-block g-login">-->
                    <!--<img class="mr-3" src="../../images/file-icons/icon-google.svg" alt="">Log in with Google</button>-->
                    {% for message in get_flashed_messages() %}
                    {{ message }}
                    {% endfor %}
                </div>

              </form>
            </div>

            <!--<p class="footer-text text-center">copyright © 2018 Bootstrapdash. All rights reserved.</p>-->
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <!--<script src="static/vendors/js/vendor.bundle.base.js"></script>-->
  <!--<script src="static/vendors/js/vendor.bundle.addons.js"></script>-->
  <!--&lt;!&ndash; endinject &ndash;&gt;-->
  <!--&lt;!&ndash; inject:js &ndash;&gt;-->
  <!--<script src="static/js/admin_off-canvas.js"></script>-->
  <!--<script src="static/js/admin_misc.js"></script>-->
  <!-- endinject -->
</body>

</html>