<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/logo3.png')}}"/>
    <title>WeStay-Accommodation Web Portal</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/color.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/responsive.css')}}"/>
    <link rel="stylesheet" href="static/css/admin_ext.css">

    <!-- Revolution Style -->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static',filename='css/revolution/pe-icon-7-stroke/css/pe-icon-7-stroke.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/revolution/settings.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/revolution/navigation.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jquery.datetimepicker.css')}}">
    <link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet"
          type="text/css"/>
</head>
<body itemscope onload="initialize(5)">
<div class="pg-lyut">
    <div id="loading">
        <div id="loading-center">
            <img src="{{url_for('static',filename='images/loader.gif')}}" alt="" itemprop="image"/>
        </div>
    </div>
    <header class="fr-stky trans style1">
        <!--<div class="top-bar1">-->
        <!--<div class="container">-->
        <!--<div class="socl-sh1">-->
        <!--<a href="#" title="" itemprop="url" target="_blank"><i class="fa fa-facebook"></i></a>-->
        <!--<a href="#" title="" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>-->
        <!--<a href="#" title="" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>-->
        <!--<a href="#" title="" itemprop="url" target="_blank"><i class="fa fa-linkedin"></i></a>-->
        <!--<a href="#" title="" itemprop="url" target="_blank"><i class="fa fa-pinterest"></i></a>-->
        <!--</div>&lt;!&ndash; Social Share Style 1 &ndash;&gt;-->
        <!--<a class="thm-btn" href="#" title="" itemprop="url">Free Analysis</a>-->
        <!--<div class="lang-select">-->
        <!--<select id="language">-->
        <!--<option>English</option>-->
        <!--<option>French</option>-->
        <!--<option>Russian</option>-->
        <!--<option>Arabic</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--<ul class="contact-info">-->
        <!--<li><i class="fa fa-phone"></i> 1-677-124-44227 437 S</li>-->
        <!--<li><i class="fa fa-map-marker"></i> Olive St, Los Angeles</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>&lt;!&ndash; Top Bar Style 1 &ndash;&gt;-->
        <div class="lg-mnu-sec">
            <div class="container">
                <div class="logo"><h1 itemprop="headline"><a href="/index" title="" itemprop="url"><img
                        src="{{url_for('static',filename='images/logo2-white.png')}}" alt="" itemprop="image"/></a>
                </h1></div>
                <nav>
                    <div class="menu">
                        <ul>
                            <li><a href="/index" title="" itemprop="url">Home</a>
                            </li>
                            <li><a href="contact_us" title="" itemprop="url">Contact</a></li>
                            <li><a class="post-btn " href="/postredirect" title="">List your property</a></li>
                        </ul>
                    </div>
                    <ul class="menu-btns">
                         {% if username %}
                        <li><a class="crt-btn" href="" title="" itemprop="url"><i class="fa fa-user-circle-o" aria-hidden="true" ></i></a> <a href="user" title="" itemprop="url">{{username}}</a></li>
                        <li><a href="/logout" title="" itemprop="url"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                        {% else %}
                        <li><a href="/login" title="" itemprop="url">Login</a></li>
                        <li><a href="/register" title="" itemprop="url"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
                        {% endif %}
                        <li><a href="/search"><i class="fa fa-search"></i></a></li>
                        <li><a class="hdr-srch-btn" href="#" title=""><i class="fa fa-shopping-basket"></i><span
                                class="rd50" id="likelistlen">2</span></a></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header><!-- Header -->
    <div class="rspn-hdr">
        <div class="lg-mn">
            <div class="logo">
                <h1><a href="/index" title="" itemprop="url"><img
                        src="{{url_for('static',filename='images/logo2.png')}}" alt=""/></a></h1>
            </div>
            <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
        </div>
        <div class="rsnp-mnu">
            <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
            <ul>
                <li><a href="/index" title="" itemprop="url">Home</a>
                </li>

                <li><a href="/search" title="" itemprop="url">Search</a>
                </li>
                <li><a href="/contact_us" title="" itemprop="url">Contact</a></li>
            </ul>
        </div><!-- Responsive Menu -->
    </div><!-- Responsive Header -->

    {% block body_contents %}
    {% endblock %}
    <div class="btm-ln">
        <div class="container">
            <p itemprop="description">&copy; 2018 Designer Westay web application. Powered By <a
                    href="/index" title="" itemprop="url" target="_blank">U NEVER SLEEP WELL</a></p>
        </div>
    </div><!-- Bottem Line -->

    <div class="hdr-srch">
        <span class="srch-cls"><i class="fa fa-close"></i></span>
        <div class="gp gp2">
            <div class="container">
                <div class="row sm-gp">
                    <div class="col-md-12">
                        <h4 style="color:#fff;">Compare List</h4>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-md-12 col-sm-12 col-lg-12">-->
                        <!--<div class="prs-plns rmv-ext">-->
                            <!--<div class="row rltd-pst-crsl" id="compareArea">-->

                            <!--</div>-->
                        <!--</div>&lt;!&ndash; Pricing Plans &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="prs-plns rmv-ext" id="compareArea">

                        </div><!-- Pricing Plans -->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Header Search -->

    <div class="hdr-sd-pnl">
        <span class="hdr-sd-cls"><i class="fa fa-times"></i></span>
        <span class="hdr-sd-cls"><i class="fa fa-times"></i></span>
        <div class="hdr-sd-pnl-innr">
            <div class="wdgt">
                <div class="abt-wdgt">
                    <div class="logo">
                        <h1 itemprop="headline"><a href="/index" title="" itemprop="url"><img
                                src="{{url_for('static',filename='images/logo2.png')}}" alt="" itemprop="image"/></a>
                        </h1>
                    </div>
                    <p itemprop="description">Claritas est etiam processus dynamicus, qui sequitur mutationem
                        consuetudium lectorum eleifend option congue nihil imperdiet doming.</p>
                </div><!-- About Widget -->
            </div><!-- Widget -->


        </div>
    </div>
</div><!-- Page Layout -->

<script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.datetimepicker.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/tether.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.minimalect.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/isotope.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/isotope-int.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/scroll-up-bar.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/wow.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.counterup.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/waypoints.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.poptrox.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/scrolltopcontrol.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/perfect-scrollbar.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/perfect-scrollbar.jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>

<!-- Revolution JS Files -->
<script type="text/javascript"
        src="{{url_for('static',filename='js/revolution/jquery.themepunch.tools.min.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static',filename='js/revolution/jquery.themepunch.revolution.min.js')}}"></script>

<!-- Slider Revolution 5.0 Extensions -->
<script type="text/javascript"
        src="{{url_for('static',filename='js/revolution/revolution.extension.actions.min.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static',filename='js/revolution/revolution.extension.carousel.min.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static',filename='js/revolution/revolution.extension.kenburn.min.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static',filename='js/revolution/revolution.extension.layeranimation.min.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static',filename='js/revolution/revolution.extension.migration.min.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static',filename='js/revolution/revolution.extension.navigation.min.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static',filename='js/revolution/revolution.extension.parallax.min.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static',filename='js/revolution/revolution.extension.slideanims.min.js')}}"></script>
<script type="text/javascript"
        src="{{url_for('static',filename='js/revolution/revolution.extension.video.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/revolution/revolution.initialize.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/search.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/advertising.js')}}"></script>
<script type="text/javascript"
        src="http://maps.google.com/maps/api/js?key=AIzaSyAoVsCGcBU7KSsnDW1GjDftC06SvpHMnX8&sensor=false&language=en-US"></script>
</body>
</html>