{% extends "base2.html" %}
{% block body_contents %}
<br>
<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="sdbr">
                <div class="serv-bx txt-cntr" style="width: 128px">
                    <img src="{{usericon}}" alt="" itemprop="image" class="rd50"/>
                    <div class="serv-inf">
                        <h4 itemprop="headline">{{username}}</h4>
                    </div>
                </div>
                <div class="wdgt">
                    <h2 class="wdgt-tl2" itemprop="headline">My WeStay</h2>
                    <ul>
                        <li><span><i class="fa fa-user"></i></span> <a href="/user" title="" itemprop="url">My
                            Profile</a>
                        </li>
                        <li><span><i class="fa fa-file-text-o"></i></span> <a href="/myorder" title="" itemprop="url">My
                            Order</a></li>
                        <li><span><i class="fa fa-home"></i></span> <a href="/mypro" title="" itemprop="url">My
                            Property</a>
                        </li>
                        <li><span><i class="fa fa-cog"></i></span> <a href="/setting" title=""
                                                                      itemprop="url">Setting</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-9">
            {% if myproperty %}
            <h4>My Property</h4>
            <br>
            <div class="row">


            {% for item in myproperty %}
            <div class='col-md-6 col-sm-6 col-lg-6'>
                <div class='cas-bx'>
                    <a href="/post_detail/{{item['_id']['$oid']}}" target='_blank'>
                    <img src="{{item['picture'][0]}}"></a>
                <div class='cas-inf'>
                    <h4 itemprop='headline'><a href="/post_detail/{{item['_id']['$oid']}}" target='_blank'>{{item['name']}}</a></h4>
                    <div class='pst-btm'>
                        <div class='pst-tgs'>
                            <i class='fa fa-map-marker'></i><a>{{item['address']}}</a>
                        </div>
                        <div class='lk-cmt'>
                            <a> ${{item['price']}}</a>
                        </div>
                    </div>
                    <div class='pst-btm'>
                        <div class='pst-tgs'>
                            <a>Booked time:{{book_time}}</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!--<div class="col-md-6 col-sm-6 col-lg-9">-->
            <!--<a href="/post_detail/{{item['_id']['$oid']}}" ><img src="{{item['picture'][0]}}" style="height:auto; width:30%;"/></a>-->
            <!--<i class="fa fa-map-marker"></i><a>{{item['address']}}</a>-->
                <!--<li><a>Booked time:{{book_time}}</a></li>-->
            <!--</div>-->
            <!--<br>-->
            {% endfor %}
                </div>
            {% else %}
            <h4>No Related Property</h4>
            <a class="post-btn " href="/postredirect" title="">List my property now !</a>
            {% endif %}

            </div>
        </div>
    </div>
    <div class="gp"></div>
    {% endblock %}