{% extends "base.html" %}
{% block body_contents %}
<!---->
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="sdbr">
                <div class="serv-bx txt-cntr" style="width: 128px">
                    <img src="{{usericon}}" alt="" itemprop="image" class="rd50"/>
                    <div class="serv-inf">
                        <h4 itemprop="headline">{{username}}</h4>
                    </div>
                </div>
                <div class="wdgt">
                    <h2 class="wdgt-tl2" itemprop="headline">My WeStay</h2>
                    <ul>
                        <li><span><i class="fa fa-user"></i></span> <a href="/user" title="" itemprop="url">My
                            Profile</a>
                        </li>
                        <li><span><i class="fa fa-file-text-o"></i></span> <a href="/myorder" title="" itemprop="url">My
                            Order</a></li>
                        <li><span><i class="fa fa-home"></i></span> <a href="/mypro" title="" itemprop="url">My
                            Property</a>
                        </li>
                        <li><span><i class="fa fa-cog"></i></span> <a href="/setting" title=""
                                                                      itemprop="url">Setting</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-9">
            <div id="edit" class="tab-pane">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 detailed">
                        <h4 class="mb">Change Password</h4>
                        <form method="post" role="form" class="form-horizontal">

                            <div class="form-group">
                                <label class="col-lg-6 control-label">*Current Password:</label>
                                <div class="col-lg-6">
                                    <input type="password" placeholder=" " id="curr_pw " name="curr_pw"
                                           class="form-control" style="border-radius: 30px;">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-lg-6 control-label">*New Password:</label>
                                <div class="col-lg-6">
                                    <input type="password" placeholder=" " id="new_pw " name="new_pw"
                                           class="form-control" style="border-radius: 30px;">
                                </div>
                            </div>


                            <button type="submit" class="thm-btn2 rd30" id="pw-submit"
                                    style="float: right;">save
                            </button>
</form>
                         {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning">
                        {{message}}
                         </div>

                        {{ message }}
                        {% endfor %}
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>
<div class="gp"></div>
{% endblock %}